/*Hide Instructor toolbar*/
.d2l-mfe-learning {

    div[data-testid="instructor-toolbar"] {
        display: none;
    }

    /*Hide copyright*/
    .sequence-container + div {
        display: none;
    }

    .sequence-container {
        margin-bottom: 0px;
    }

    /*Hide Header, Footer*/
    .learning-header,
    .footer {
        display: none !important;
    }

    /*Hide course tab navigation*/
    .course-tabs-navigation {
        display: none!important 
    }

    .course-outline-tab > .col-md-8 {
        flex: unset !important;
        max-width: 100% !important;
    }

    .course-outline-tab > .col-md-4 {
        display: none!important 
    }

    /*Notification Button*/
    .container-xl .d-flex.ml-auto .mt-3 {
        display: none!important 
    }
    
    .sequence-navigation .btn.complete {
        background-color: rgb(252 251 253) !important;
    }
}